@import '../../../styles/variables';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.navbarNav {
    justify-content: space-between;
    flex: 1;
}

.navbarToggler {
    padding: 0;
    border: none;
    border-radius: 0;
}

.collapsing {
    @include media-breakpoint-down(md) {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        &.show {
            max-height: 510px;
        }
    }
}

.langBtn {
    color: $primary;
    display: flex;

    &.en {
        padding-right: 30px;
        @include media-breakpoint-down(md) {
            padding-right: 0;
            justify-content: flex-end;
        }
    }

    &.he {
        padding-left: 30px;
        @include media-breakpoint-down(md) {
            padding-left: 0;
            justify-content: flex-end;
        }
    }
}
