@import '../../../styles/variables';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.navbarNav {
    justify-content: space-between;
    flex: 1;
}

.navbarToggler {
    padding: 0;
    border: none;
    border-radius: 0;

    @include media-breakpoint-down(md) {
        //   background: salmon;
    }
}
